:host {
  width: 200px;
  .app-list-title {
    user-select: none;

    &__sortable {
      cursor: pointer;
      user-select: none;
    }

    &_label {
      text-transform: capitalize;
      font-weight: 600;
      font-size: 20px;
      margin-right: 5px;
    }
  }
}
