:host {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .app-person-details-page {

    &__title {
      font-size: 20px;
      font-weight: 600;
      display: block;
      margin-bottom: 5px;
    }

    &__person-info-title {
      text-transform: capitalize;
      margin-right: 10px;
    }

    &__person-info-definition {
      font-weight: 600;
    }

    &__person-info-wrapper {
      margin-bottom: 30px;
    }

    &__planet-details {
      font-size: 18px;

      button {
        margin-left: 5px;
        line-height: 26px;
      }
    }
  }
}

