.app-progress-spinner {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    background-color: #fff;
    filter: blur(100px);
    -webkit-filter: blur(8px);
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    z-index: 2;
  }

  &_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}
